
@{
    ViewBag.Title = "kitapEkle";
}

    <form method="post">
        <button type="submit" class="btn btn-success">ISBN Yükle</button>
        <div class="form-group">
            <label>ISBN</label>
            <input type="text" name="ISBN" class="form-control" />
            <label>Kitap Adı</label>
            <input type="text" name="KitapAdi" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success">Ekle</button>
    </form>

